#################################################################################
# File to set user specfic aliases to shorten commands
#
# Write your aliases below
#################################################################################

#--------------------------------------------------------------------------------
# Aliases
#--------------------------------------------------------------------------------
alias em="/Applications/Emacs.app/Contents/MacOS/Emacs -nw"
#alias em='emacs -nw'	# for emacs to run in no window mode

alias lal='ls -al'
alias lla='ls -al'